<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2>Available GitHub Repos</h2>
    </div>
    <div class="col-sm-4 text-right">
      <a class="btn btn-primary" ng-click="sync()"><i class="fa fa-refresh {{ syncing ? 'fa-spin' : '' }}"></i> Sync Repos</a>
    </div>
  </div>
  <div class="row" ng-if="githubRepos == null || syncing">
    <div class="col-sm-12">
      <h3 class="text-center"></br><i class="fa fa-2x fa-spinner fa-spin"></i></br></br>{{ syncing ? 'Syncing' : 'Loading' }}...</h3>
    </div>
  </div>
  <div class="row" ng-if="githubRepos.length == 0 && !syncing">
    <div class="col-sm-12">
      <h3 class="text-center" style="line-height: 2;"><br />If you do not see any repos you have either not synced repos or you have no GitHub repos. If you have not synced you can go ahead <a href="" ng-click="sync()">and do so</a>.</h3>
    </div>
  </div>
  <div class="row" ng-repeat="repo in githubRepos">
    <div class="col-sm-12">
      <div class="panel panel-default add-project">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-9">
              <div class="project-name"><strong>{{ repo.full_name }}</strong></div>
            </div>
            <div class="col-sm-3 text-right"><a class="btn btn-primary add-repo" ng-click="add(repo.github_repo_id)"><i ng-if="repo.adding" class="fa fa-spinner fa-spin"></i> add</a></div>
          </div>
          <div class="row" ng-if="repo.errors.length > 0">
            <div class="col-sm-12 bg-danger">
              <p>
                <ul>
                  <li ng-repeat="error in repo.errors"><strong>{{ error }}</strong></li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
