      <h4>Builds <a class="btn btn-primary" ng-click="manuallyTriggerBuild()">trigger</a></h4>
      <div id="build-list">
        <div class="row" ng-repeat="build in builds">
          <div class="panel panel-{{ build.latest_job_result | buildResultFilter }} build" ui-sref="project.build.jobs({ projectId: project.id, buildId: build.id })">
            <div class="panel-body">
              <span>{{ build.short_description }}</span>
            </div>
          </div>
        </div>
      </div>
